//	_columns.medium.scss

@import "_mixins";

@include breakpoint(medium) {
//	-----------------------------------------------------------------------------
//	Table of Contents (keep up-to-date)
//	-----------------------------------------------------------------------------
//
//	_.example
//	_.example-columns
//		_.example-column-grid
//			_.example-column-grid
//				_.example-column
//					_.example-code
//
//	-----------------------------------------------------------------------------

//	-----------------------------------------------------------------------------
//	_.example
//	-----------------------------------------------------------------------------
	.example {
		@include column-wrapper();
		@include column-wrapper-border(top, 1px, #999);
	}

		.example-intro {
			@include column-width(12, 12);
		}

//	-----------------------------------------------------------------------------
//	_.example-columns
//	-----------------------------------------------------------------------------
	.example-columns {
		@include column-wrapper();
		margin-left: -$column-margin;
		margin-right: -$column-margin;
	}

	//	_.example-column-grid
	//	-----------------------------------------------------------------------------
		.example-column-grid-column {
			@include column-width(1, 12);

			&:before {
				left: $column-gutter / 2;
				right: $column-gutter / 2;
			}
		}

		//	_.example-column-grid
		//	-----------------------------------------------------------------------------
			.example-column-box {
				&:after {
					left: $column-gutter / 2;
					right: $column-gutter / 2;
				}
			}

			//	_.example-column
			//	-----------------------------------------------------------------------------
				.example-column {
					@include column-width(4, 12);
				}

				.measurement-column {
					@include column-width(4, 12);

					&.measurement-column-wrapper {
						&:before {
							left: -$column-wrapper-margin + ($column-gutter / 2);
							width: $column-wrapper-margin;
						}
					}

					&.measurement-column-width {
						&:before {
							left: -$column-gutter + ($column-gutter / 2);
							width: $column-gutter;
						}
					}
				}

				.include-gutter {
					@include column-include-gutter();
				}

				.offset {
					@include column-offset(1, 12, left);
					@include column-offset(1, 12, right);
				}

				.nested-1 {
					@include column-width(10, 12, true);

					&:after {
						left: 0;
						right: 0;
					}
				}

				.nested-2 {
					@include column-width(5, 10);
				}

				.column-border {
					@include column-width(12, 12);
				}

				.column-border-good {
					@include column-border(top, 5px, green);
				}

				.text-column {
					@include column-width(4, 12);

					&.nth-child-4n-plus-1 {
						@include column-row-break(false);
					}

					&.nth-child-3n-plus-1 {
						@include column-row-break();
					}
				}

				//	_.example-code
				//	-----------------------------------------------------------------------------
					.example-code {
						.attribute {
							display: none;
						}

						.attribute-medium,
						.attribute-global {
							display: block;
						}
					}
}